[build]
  command = "npm run build"
  publish = "_site"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "@netlify/plugin-lighthouse"
  [plugins.inputs.settings]
    output_path = "lighthouse.html"
    locale = "en"
